@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet');

body {
  margin: 0;
  font-family: Merienda;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
}

@mixin text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

@mixin menu_links {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    &:first-of-type {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 35px;
            height: 35px;
            background: url('../public/icons/grain.png') center (center / cover) no-repeat
        }
    }
}