@import '../../index.scss';

.header {
    height: 260px;
    background: url('../../../public/img/coffee-shop-1209863_1920.png') center no-repeat;
    padding-top: 130px;
    position: relative;
    &_menu {
        position: absolute;
        top: 30px;
        left: 185px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 355px;
        height: 40px;
        a {
            @include menu_links;
            &:first-of-type::before {
                top: -16px;
                left: -30px;
            }
        }
    }
    h1 {
        margin: 0;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
    }
}